In [1]:
import pandas as pd
import numpy as np

In [6]:
recent_survey_df=pd.read_csv('whole_unemployment_by_sector_and_subsample.csv')
print(recent_survey_df.shape)
recent_survey_df.head()

(971, 31)

,Country name,Country Code,Region,Year of Survey,Survey Type,Subsample,Total population,Agriculture (aged 15-64),Industry (aged 15-64),Services (aged 15-64),...,Senior Officials (aged 15-64),Professionals (aged 15-64),Technicians (aged 15-64),Clerks (aged 15-64),Service and Market Sales (aged 15-64),Skilled Agriculture (aged 15-64),Craft Workers (aged 15-64),Machine Operators (aged 15-64),Elementary Occupations (aged 15-64),Armed Forces
0,Afghanistan,AFG,South Asia,2011,nrva,Female,13105589,0.54,0.23,0.22,...,0.0,0.09,0.0,0.0,0.04,0.0,0.20,0.05,0.32,0.0
1,Afghanistan,AFG,South Asia,2011,nrva,Higher education,8168829,0.16,0.10,0.73,...,0.0,0.22,0.0,0.0,0.34,0.0,0.05,0.08,0.19,0.0
2,Afghanistan,AFG,South Asia,2011,nrva,Lower education,18785967,0.44,0.19,0.37,...,0.0,0.01,0.0,0.0,0.15,0.0,0.09,0.08,0.47,0.0
3,Afghanistan,AFG,South Asia,2011,nrva,Male,13849207,0.35,0.16,0.49,...,0.0,0.05,0.0,0.0,0.22,0.0,0.06,0.08,0.43,0.0
4,Afghanistan,AFG,South Asia,2011,nrva,Old worker,8138972,0.39,0.15,0.46,...,0.0,0.06,0.0,0.0,0.20,0.0,0.07,0.08,0.42,0.0

In [9]:
total_recent_survey_df=pd.read_csv('whole_unemployment_by_sector_total.csv')
print(total_recent_survey_df.shape)
total_recent_survey_df.head()

(111, 31)

,Country name,Country Code,Region,Year of Survey,Survey Type,Subsample,Total population,Agriculture (aged 15-64),Industry (aged 15-64),Services (aged 15-64),...,Senior Officials (aged 15-64),Professionals (aged 15-64),Technicians (aged 15-64),Clerks (aged 15-64),Service and Market Sales (aged 15-64),Skilled Agriculture (aged 15-64),Craft Workers (aged 15-64),Machine Operators (aged 15-64),Elementary Occupations (aged 15-64),Armed Forces
0,Afghanistan,AFG,South Asia,2011,nrva,Total,26954796,0.38,0.17,0.45,...,0.00,0.05,0.00,0.00,0.19,0.00,0.08,0.08,0.41,0.00
1,Albania,ALB,Europe and Central Asia,2012,lsms,Total,2802801,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Sub-Saharan Africa,2008,ibep-,Total,16367881,0.54,0.05,0.41,...,0.02,0.03,0.05,0.02,0.11,0.39,0.07,0.04,0.25,0.02
3,Armenia,ARM,Europe and Central Asia,2016,ilcs,Total,2983174,0.33,0.19,0.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Azerbaijan,AZE,Europe and Central Asia,2015,amssw,Total,8332984,0.34,0.23,0.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
countries = total_recent_survey_df['Country name'].values
countries

array(['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan',
       'Bangladesh', 'Belarus', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Dem. Rep.)', 'Costa Rica', "Cote d'Ivoire",
       'Dominican Republic', 'Ecuador', 'Egypt (Arab Rep.)',
       'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon',
       'Gambia (The)', 'Georgia', 'Ghana', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Haiti', 'Honduras', 'Hungary', 'India',
       'Indonesia', 'Iraq', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea (Rep.)', 'Kyrgyz Republic', 'Lao PDR', 'Lesotho', 'Liberia',
       'Lithuania', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Mauritania', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Russian Federation', 'Rwanda', 'Sao Tome and Principe',
       'Senegal', 'Serbia', 'Sierra Leone', 'Solomon Islands',
       'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Tunisia', 'Turkey', 'Uganda',
       'Ukraine', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (RB)', 'Vietnam', 'Yemen (Rep.)', 'Zambia', 'Zimbabwe'],
      dtype=object)